
<div class="container" id="container">
    
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Create Account</h1>
			<div class="social-container row">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <asl-google-signin-button shape="circle" size="large" type="icon" theme="outline" class="w-auto"></asl-google-signin-button>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Sign in</h1>
			<div class="social-container row">
				<a href="#" class="social" (click)="signInWithFB()"><i class="fab fa-facebook-f"></i></a>
                <asl-google-signin-button shape="circle" size="large" type="icon" theme="outline" class="w-auto"></asl-google-signin-button>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
    
</div>

<div *ngIf="user" class="card text-center">
    <h6 class="card-header">Social Login Demo</h6>
    <div class="card-block"></div>
    <img
      *ngIf="user.photoUrl"
      class="card-img-top img-responsive photo"
      src="{{ user.photoUrl }}"
    />
    <div class="card-block">
      <h4 class="card-title">{{ user.name }}</h4>
      <p class="card-text">{{ user.email }}</p>
      <p class="card-text">Logged in with {{ user.provider }}</p>
    </div>
    <div class="card-block">
      <button class="btn btn-danger" (click)="signOut()">Sign out</button>
    </div>
    <div
      class="card-block"
      *ngIf="user.provider === GoogleLoginProvider.PROVIDER_ID"
    >
      <button class="btn" (click)="refreshGoogleToken()">
        Refresh google token
      </button>
    </div>
  </div>

